<h1>Cart</h1>
<form action="/checkout" method="POST" id="cart">
    <input type="text" id="item" name="item[name]">  <! -- text box -->
    <input type="submit" id="submit" value="Submit"> <! -- Capybara looks for id on submit button --> 
</form>